@import url("../../index.scss");
.for_you_block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    background-image: url("../../assets/imgs/grid.svg");
    background-repeat: no-repeat;
    background-position: -50px 0;

    margin-bottom: 192px;
    .container {
        justify-content: space-between;
        .desc_text {
            display: flex;
            flex-direction: column;
            max-width: 427px;
            margin-top: 106px;
        
            h1 {
                margin-bottom: 25px;
            }
            p {
                margin-bottom: 48px;
            }
        }
        .header_img {
            width: 693px;
            height: 598px;
            background-image: url("../../assets/imgs/header\ illustration\ 1.png");
        }

    }
}
