@import url("/src/index.scss");

.services_block {
    display: flex;
    background-image: url("../../assets/imgs/services_bg.svg");
    background-repeat: no-repeat;
    
    justify-content: end;
    margin-bottom: 221px;

    .container {
        flex-direction: column;
        align-items: center;
        background-image: url("../../assets/imgs/grid.svg");
        background-repeat: no-repeat;
        background-position: right center;

        h2 {
            margin-bottom: 26px;
        }
        .line {
            margin-bottom: 33px;
        }
        .desc {
            max-width: 952px;
            text-align: center;
            margin-bottom: 80px;
        }
        .cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap:37px;
            margin-bottom: 72px;
        }
    }
}