.navigation_block {
    display: flex;
    flex-basis: 545px;
    padding-top: 14px;
    justify-content: space-between;
    list-style: none;
    font-size: 18px;

    a {
        color: var(--cl-hyfen);
        font-weight: 400;
        opacity: 0.5;
    }
}