@import url("../../index.scss");
.my_header_block {
    display: flex;
    justify-content: end;
    margin-top: 56px;
    margin-bottom: 80px;
    .container {
        justify-content: space-between;
        
    }
    
}