.big_button_block {
    height: 56px;
    padding: 0 40px;
    border-radius: 55px;
    min-width: 200px;
    font-size: 18px;
    font-weight: 700;

    background:none;
    border: 1.4px solid var(--cl-blue);

    color: var(--cl-blue);

    img {
        fill: var(--cl-white);
    }
    div {
        display: flex;
        gap: 15px
    }
}
.big_button_block:hover {
    color: var(--cl-white);
    background-color: var(--cl-blue);
    img {
        fill: var(--cl-blue);
    }
}
.big_button_block_filled {
    color: var(--cl-white);
    background-color: var(--cl-blue);
    img {
        fill: var(--cl-blue);
    }
}
.big_button_block_filled:hover {
    color: var(--cl-blue);
    background-color: var(--cl-white);
    img {
        fill: var(--cl-white);
    }
}
