@import url("/src/index.scss");

.download_block {
    display: flex;
    min-height: 434px;
    margin-bottom: 251px;

    .container {
        flex-direction: column;
        justify-content: center;
        background-image: url("../../assets/imgs/illustration-sec-031.png");
        background-repeat: no-repeat;
        background-position: right center;

        .text {
            max-width: 420px;
            padding: 20px;
            margin-left: -20px;
            background-color: rgba(255, 255, 255, 0.70);
            border-radius: 20px;
            backdrop-filter: blur(20px);

            h2 {
                max-width: 254px;
                margin-bottom: 30px;
            }

            .line {
                margin-bottom: 31px;
            }

            p {
                margin-bottom: 40px;
            }
        }
    }
}