@import url("/src/index.scss");

.download_block {
    display: flex;
    min-height: 675px;
    background-image: url("../../assets/imgs/grid.svg");
    background-repeat: no-repeat;
    background-position: top right -50px;
    margin-bottom: 251px;
    .container {
        justify-content: space-between;
        margin-top: 251px;
        .text {
            max-width: 420px;

            h2 {
                max-width: 254px;
                margin-bottom: 30px;
            }
            .line {
                margin-bottom: 31px;
            }
            p {
                margin-bottom: 40px;
            }
        }
        .img {
            width: 665px;
            height: 434px;
            background-image: url("../../assets/imgs/illustration-sec-031.png");
        }
    }
}